/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

<style>@import "compass/css3";

@import url(//fonts.googleapis.com/css?family=Sigmar+One);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);

@mixin numbers($i) {
  color: #fff;
  content: "##{$i} Targeted";
  font-family: $nums;
  font-size: 4em;
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 10px #333; 
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .25s 0 ease; 
  width: 100%;
}

$nums: 'Roboto', sans-serif;
$main-font: Arial;
$light-grey: #ecf0f1;
$turq: #1abc9c;
$zNormal: 100;
$zTop: 900;

//basic styling

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  @extend html;
  background: url(https://unsplash.imgix.net/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?q=75&fm=jpg&auto=format&s=0798c4e39d1acb580b25a93863dcae97) no-repeat 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  font-family: $main-font;
  font-weight: 300;
}



.body-image {
  &1 {
    background: rgba(0, 0, 0, .2);
  }
  
  &2 {
    background: url(https://unsplash.imgix.net/44/MIbCzcvxQdahamZSNQ26_12082014-IMG_3526.jpg?q=75&fm=jpg&auto=format&s=d8f5e3a82f4f8d5fff505ee239e9b17c) no-repeat 50% 50%;
  background-size: cover;
  }
  
  &3 {
    background: url(https://unsplash.imgix.net/43/unsplash_522b9cc0386f1_1.jpg?q=75&fm=jpg&auto=format&s=fcde762464de23d857897700362bc488) no-repeat 50% 50%;
  background-size: cover;
    position: static;
  }
}

header {
  background: rgba(255,255,255, .4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: $zTop;
  
  ul { width: 100%; }
  
  li {
    display: inline-block;
  }
  
  a {
    color: darken(#fff, 65%);
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    transition: all .65s 0 ease; 
    
    &:hover {
      background: rgba(255,255,255, .2);
      color: darken(#fff, 55%);
      text-shadow: 1px 1px 1px rgba(255,255,255, .4);
    }
  }
}

.sect {
  display: block;
  font-weight: 900;
  height: 100%;
  position: relative;
  text-transform: uppercase;
  transition: all 1s 0 ease; 
  width: 100%;
}



@for $i from 1 through 3 {
  .sect:nth-of-type(#{$i}) {
    &:after {
      @include numbers(#{$i});
    } 

    &.targeted {
      transition: all 1.5s 0 ease; 
      &:after {
        color: #fff;
        content: "##{$i} Targeted";
        opacity: 1;
        text-shadow: 1px 1px 10px #333; 
      }
    }
  }
}



.fixed {
  left: 0;
  position: fixed;
  top: 0;
}

footer {
  background: #333;
  color: #fff;
  font-size: .75em;
  text-align: center;
  padding: .5em 0; 
  
  a {
   color: #fff;
    
  }
}</style>